/*CELULAR*/
@media (min-width: 300px) and (max-width: 700px){ 

    .nav{
        &-item:hover{
            transform: scale(0.9);
        }
    }

/****** header index ************* */
    .presentacion {
        height: 40vh;
        h2{
            font-size: 1.2rem; 
        }
    }
/********* Aside ***************/
    .menu{
        position: relative;
    }
/******* Sección Eventos  **********/
    .evento__grid {
        grid-template-rows: 0.3fr 0.1fr 1fr 1fr 1fr 1fr 1fr 0.6fr;
        grid-template-columns: 1fr ;
        grid-template-areas:"aside"
                            "titulo"
                            "foto_uno" 
                            "descripcion_uno"
                            "foto_dos" 
                            "descripcion_dos"
                            "foto_tres"
                            "descripcion_tres";
        gap: 1rem;
    }
/******** sección multimedia ****************/
    .multimedia{
        &__flex{
            justify-content: center;
            align-items: center;
        }
        &__video{
            width: 350px;
            height:250px;
        }
        &__descripcion{
            width: 100%;
        }
    }


    /* ------------ GALERIA --------------  */

    .grid{
        &__container{
            display:flex;
            flex-direction: column;
        }
        &__item{
            border: 5px solid #000;
            height: 40vh;
        }
    }

    /* ------------ Informacion --------------  */
    .info{
        &__ubicacion__descripcion{
            width: 100%;
        }
        &__card__item{
            width: 21rem;
            height: 26rem;
        }
    }
    /* ------------ Comunidad ---------------  */

    .comunidad{
        &__info{
            flex-direction: column;
        }
        &__img{
            align-self: center;
            margin-bottom: 1rem;
        }
    }
}

/* Media FOOTER - NV*/
@media (max-width:800px){

    .container__up{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .responsive{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
}

/*TABLET*/
@media (min-width:701px) and (max-width:1100px) {

    .nav{
        &-item:hover{
            transform: scale(0.9);
        }
        &__hambur{
            margin-left: 35vw;
        }
    }

    .grid{
        &__container{
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
        &__uno{
            grid-column: 1/2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__dos {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &__tres{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__cuatro {
            grid-row: 2/3;
            grid-column: 2/3;
        }
        &__cinco{
            grid-row: 3/4;
            grid-column: 1/2;
        }
        &__seis{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        &__seis{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        &__siete{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        &__ocho{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        &__nueve{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        &__diez{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        &__once{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        &__once{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        &__doce{
            grid-column: 2/3;
            grid-row: 6/7;
        }
    }

    .multimedia{
        &__descripcion{
            width: 82vw;
        }
    }
}
