
$color-principal: #0d2033;
$color-sol: #FFCD48;
$color-letra: #fff;
$color-secundario:#0a1a2a;
$background-opacity:  rgba(255, 255, 255, 0.426);
$letra-principal: 'PT Sans', sans-serif;
$letra-secundaria: 'Roboto Slab', serif;;