
$color-principal: #1D2F3D;
$color-sol: #FFCD48;
$color-letra: #fff;
$background-opacity:  rgba(255, 255, 255, 0.426);
$letra-principal: 'PT Sans', sans-serif;
$letra-secundaria: 'Roboto Slab', serif;;