@import 'variables';
@import 'helper';
@import 'parallax';
@import 'header';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $letra-principal;
}

html {
    scroll-behavior: smooth;
}



/* =====================          HEADER          =========================== */



.presentacion{
    @extend .containerFlex;
    align-items: center;
    height: 100vh;
    &__container{
        background-color: $background-opacity;
        border-radius: 1em;
        width: 40vw;
    }
    h2{
        font-size: 3vw; 
        text-align: center; 
    }
    p{
        font-size: 1rem; 
        text-align: center; 
    }
}

/* =====================          MAIN            =========================== */

/* --------- Evento -------------- */

.evento{
    padding: 16px;
    &__grid {
        display: grid;
        grid-template-rows: 0.2fr 1fr 1fr 1fr ;
        grid-template-columns: 0.4fr 0.6fr 1fr ;
        grid-template-areas:"titulo titulo titulo"
                            "aside foto_uno descripcion_uno"
                            "aside foto_dos descripcion_dos"
                            "aside foto_tres descripcion_tres";
        gap: 1.5rem;
        background-color: $color-fondo;
    }
    &__titulo{
        grid-area: titulo;
        text-align: center;
        margin:0.5rem
    }
    &__uno{
        @include mixGrid (foto_uno, url(../recursos/grid_index/acuaridas.webp));
    }
    &__dos{
        grid-area: descripcion_uno;
    }
    &__tres{
        @include mixGrid (foto_dos, url(../recursos/grid_index/eclipse_lunar.jpg));
    }
    &__cuatro{
        grid-area: descripcion_dos;
    }
    &__cinco{
        @include mixGrid (foto_tres, url(../recursos/grid_index/luna_llena-2.jpg));
    }
    &__seis{
        grid-area: descripcion_tres;
    }
    &__tituloSecundario{
        text-align: center;
        background: $background-opacity;
        margin-top: 80%;
    }
    &__back{
        background-size: cover;
        background-position: center;
        margin-top: 10px;
    }
    &__descripcion{
        border-top: 1px solid #000;
        padding-top: 1rem;
    }
}

/* * ============ ASIDE =========== */

.menu{
    position: sticky;
    top: 1rem;
    &__evento{
        grid-area: aside;
        min-width: 30%;
        background: $color-principal;
        padding: 1.5rem;
        border-radius: 0.2rem;
    }
    &__titulo {
        font-family: $letra-secundaria;
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: $color-fondo;
        }
    &__indice{
        a {
            display: block;
            margin-bottom: 1rem;
            color: $color-sol;
        }
    }
}    


/* --------- Multimedia -------------- */

.multimedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: $color-secundario;
    padding: 1.2rem;
    &__flex{
        margin: 1rem;
        @extend .containerFlex;
        align-items: center;
        h3{
            color: $color-letra;
        }
    }
    &__descripcion{
        width: 40%;
        margin: 1rem;
        @extend .containerFlex;
        h3{
            color: $color-letra;
        }
        p{
            color: $color-letra;
            display: inline-block;
        }
        a{
            color: $color-sol;
        }
    }
}


/* =====================         FOOTER           =========================== */


.container{
    &__footer{
    width: 100%;
    background-color: #0a141d;
    }
    &__up{
        width: 100%;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
        padding: 3rem 0rem;
        &__uno{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 12rem;
                }
            }
        }
        &__dos{
            h2{
                @extend .footer__h2;
            }
            p{
                color: $color-letra;
                margin-bottom: 1rem;
            }
        }
        &__tres{
            a{
                display: inline-block;
                width: 3rem;
                height: 3rem;
                margin-right: 0.8rem;
                background-color: $color-principal;
                border-radius: 0.5rem;
                padding: 0.3rem;
                img{
                    width: 3rem;
                }
            }
            a:hover{
                background-color: $color-sol;
            }
            h2{
                @extend .footer__h2
            }
        }
    }
    &__down{
        background-color: $color-secundario;
        padding: 1rem 0.6rem;
        text-align: center;
        color: $color-letra;
        span{
            font-size: 1rem;
        } 
    }
}



/* =====================          GALERIA               ===================== */

.titulo__galeria{
    text-align: center;
    font-size: 4em;
    margin-top: 3rem;
    color: $color-letra;
}

.grid{
    &__container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 16px;
    }
    &__item{
        border: 3px solid #000;
        transition: 1s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__uno{
        grid-row: 1/3;
        background-image: url(../recursos/galeria/cumuloGlaxias.jpg);
    }
    &__dos {
        grid-column: 2/4;
        background-image: url(../recursos/galeria/galaxia.jpg);
    }
    &__tres{
        background-image: url(../recursos/galeria/astronauta.jpg);
    }
    &__cuatro {
        grid-row: 2/4;
        background-image: url(../recursos/galeria/nebulosaCono.jpg);
    }
    &__cinco{
        grid-row: 3/4;
        grid-column: 1/3;
        background-image: url(../recursos/galeria/hubble.jpg);
    }
    &__seis{
        background-image: url(../recursos/galeria/luna.jpg);
    }
    &__siete{
        grid-row: 2/3;
    }
    &__ocho{
        background-image: url(../recursos/galeria/jupiter.jpg);
    }
    &__nueve{
        grid-row: 5/6;
        grid-column: 2/5;
        background-image: url(../recursos/galeria/saturno.jpg);
    }
    &__diez{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    &__once{
        grid-row: 4/6;
        background-image: url(../recursos/galeria/nebulosaCangrejo.jpg);
    }
    &__doce{
        grid-column: 3/5;
        background-image: url(../recursos/galeria/universo.jpg);
    }
    &__back{
        background-size: cover;
        background-position: center;
    }
    &__estilo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background: rgb(2,0,36);
        background: linear-gradient(105deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    &__parrafo{
        font-size: 1em;
        font-family: $letra-secundaria;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        padding: 1.5rem;
    }
}

/* -------------------- pagina de contacto ------------------------------  */

.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    &__formulario{
        flex-basis: 80%;
        width: 60%;
        background: $color-secundario;
        padding:3rem;
        margin-top: 8rem;
        margin-bottom: 8rem;
        border-radius: 0.2rem;
        font-family: $letra-secundaria;
        color: $color-letra;
        box-shadow: 1rem 2.5rem 3.5rem #000000;
    }
    &__btn{
        @extend .botones;
    }
    &__titulo{
        color: $color-letra;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 8vw 
    }
    &__dato{
        width: 100%;
        border: 1px solid $color-letra;
        background: #24303c;
        padding: 1rem;
        font-family: $letra-secundaria;
        font-size: 1rem;
        color: $color-letra;
    }
    &__dato{
        &__dos {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        &__tres {
            margin-bottom: 1rem;
            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}


label{
    color: $color-letra;
}

span{
    color: $color-letra;
}

/*   ---------------    comunidad   ----------------------    */

.comunidad{
    &__container{
        @extend .containerFlex;
        flex-wrap: wrap;
        align-content: center;
        padding: 0 2rem;
    }
    &__titulo{
        text-align: center;
        margin-top: 1rem;
        color: $color-letra;
    }
    &__img{
        width: 9rem;
        height: 9rem;
        border-radius: 1rem;
        margin-right: 1rem;
    }
    &__info{
        display: flex;
        margin-top: 1rem;
        p{
            text-align: center;
            font-size: 1.2rem;
            background-color: $background-opacity;
            border-radius: 20px 20px 20px 0px;
            padding: 1rem;
        }
        a{
            color:  $color-sol;
            text-decoration: none;
        }
    }
}

/*   --------------------     informacion ---------------------   */
.info{
    padding: 16px;
    background-color: $color-secundario;
    &__card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #0a141d;
        &__item{
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 20rem;
            height: 27rem;
        }
    }
    &__ubicacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 2rem;
        border-top: 1px solid #fff;
        background-color: $color-secundario;
        &__descripcion{
            width: 40%;
            h3{
                color: $color-letra;
            }
            p{
                color: $color-letra;
                display: inline-block;
            }
        }
        &__map{
            h3{
                color: $color-letra;
            }
        }
    }
}
.btn{
    @extend .botones;
}

.card-body{
    padding: 1em;
}

@import 'mediaqueries';

